{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 160,
    "arrowParens": "always",
    "trailingComma": "none",
    "endOfLine": "lf",
    "bracketSpacing": true
}
